:root {
    --black: #333333;
    --white: #ffffff;
    --offwhite: #f7f7f7;
    --primary: #455C58;
    --secondary: #3E5D58;
    --drkblue: #151F6D;
    --red: #D11A2A;
    --lhtpink: #ECC7CD;
    --green: #9EB356;
    --purple: #AA0061;
    --gray: #e5e5e5;
    --fontsm: 14px;
}

.Accordion-menu {
    background-color: #ebebeb !important;
    padding: 10px 0px;
    height: 100vh;
}

.menu_search {
    margin: 10px;
    width: -webkit-fill-available;
}

.accordion-body.menu_list:hover {
    background-color: #8ea29f;
    color: #fff;
}

.accordion-item {
    background-color: transparent;
}

.accordion-button.collapsed {
    background-color: #455c58 !important;
    color: #fff !important;
    border-radius: 0 !important;
    margin: 10px 0;
}

.search_menu_list {
    padding: 1rem 1.25rem;
}

.search_menu_list:hover {
    background-color: #8ea29f;
    color: #fff;
}

.no_records {
    padding: 1rem 1.25rem;
    color: #8ea29f;
}

.menu_active {
    background-color: #8ea29f;
    color: #fff;
}

.accordion-menu-list {
    max-height: 100vh;
    overflow: auto;
}

.print_button {
    text-align: right;
    margin: 10px 0;
}

.print_button .btn {
    min-width: 47px !important;
    padding: 3px 3px;
}


/* 23-5-2022 */

.custom-menu-dots .dropdown-toggle {
    min-width: auto;
    padding: 0;
    border: 1px solid #3E5D58;
    background: #F7F7F7;
    color: #3E5D58;
    width: 42px;
    height: 42px;
    border-radius: 5px;
}

.forms-create button {
    border-radius: 5px;
    padding: 1px 13px;
    font-size: 16px;
    margin: 0 15px 0 0;
}

.forms-filter button {
    margin-right: 15px;
}

.forms-create button svg {
    margin-right: 10px;
}

.custom-menu-dots .dropdown-toggle:after {
    content: none;
}

.menu-item {
    color: #FCC;
    padding: 3px;
}


a {
    text-decoration: none;
    color: white;
}

a div {
    padding: 2px;
}

.forms-managment-section {
    display: flex;
    padding: 40px 0;
}

.forms-managment-right {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.forms-filter button {
    border: 2px solid #3E5D58;
    color: #3E5D58;
    border-radius: 5px;
    padding: 0 12px !important;
    min-width: auto;
}

.forms-filter button img {
    margin-right: 10px;
}

.forms-managment-left h6 {
    font-weight: 700;
    font-size: 25px;
    margin: 0;
}

.forms-search {
    position: relative;
    margin-right: 15px;
}

.forms-search .form-control {
    padding: 9px 15px 9px 50px;
    height: auto;
    color: rgba(69, 92, 88, 0.5);
    border: none;
    border-radius: 5px;
    background: rgb(196 196 196 / 15%);
}

.forms-search .form-control:focus {
    background: rgb(196 196 196 / 15%);
}

.forms-search .form-control::placeholder {
    color: rgba(69, 92, 88, 0.5);
}

.forms-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.custom-menu-dots .dropdown-toggle:focus,
.custom-menu-dots .dropdown-toggle:hover {
    background: transparent !important;
    color: #3E5D58 !important;
    border-color: #3E5D58 !important;
}

.forms-filter button:hover,
.forms-filter button:focus {
    background-color: #fff;
    color: #3E5D58;
    border: 2px solid #3E5D58;
}

.forms-create button:hover,
.forms-create button:focus,
.forms-create button:active {
    background-color: #3E5D58 !important;
    box-shadow: none !important;
}

button:focus {
    box-shadow: none !important;
}

.content-toogle .dropdown-toggle {
    width: auto;
    min-width: auto;
    padding: 0;
    background: transparent;
    border: none;
    color: #909090;
}

.content-toogle .dropdown-toggle:after {
    content: none;
}

.forms-content {
    display: flex;
    background-color: #F7F7F7;
    border-radius: 16px;
    align-items: center;
    padding: 15px 20px 16px 20px;
}

.content-title-section {
    margin-left: 15px;
}

.content-toogle {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.content-toogle .user-img {
    margin-right: 20px;
    position: relative;
}

.user-img span {
    position: absolute;
    top: -1px;
    right: -3px;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background-color: #D11A2A;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 13px;
}

.red-date {
    color: #D11A2A !important;
}

.content-title-section h4 {
    font-weight: 600;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.7);
    margin: 0;
}

.content-toogle .dropdown-toggle:hover,
.content-toogle .dropdown-toggle:focus {
    background: transparent !important;
    color: #909090 !important;
}

.new-form-title {
    margin: 25px 0;
}

.forms-content {
    margin-bottom: 24px;
}

.new-form-title {
    margin: 25px 0;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #f7f7f7;
    box-shadow: none;
    border-color: #e5e5e5;
    color: #333333;
    border-radius: 5px;
    height: 45px;
}

.content-title-section h6 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 1px;
}

.theme-light {
    background: transparent !important;
    border: none;
    color: #000 !important;
}

.theme-light:hover {
    color: #000;
}

.content-icon {
    border: none;
}

.new-form-radio {
    display: flex;
}

.new-form-radio-box label {
    display: flex;
    align-items: center;
}

.new-form-radio-box label p {
    margin: 0;
}

.new-form-radio-box+.new-form-radio-box {
    margin-left: 30px;
}

.new-form-radio-box .radio-round {
    width: 26px;
    height: 26px;
    background: #F7F7F8;
    flex: 0 0 26px;
    border: 1px solid rgba(66, 66, 66, 0.1);
    border-radius: 100%;
    margin-right: 15px;
    position: relative;
}

.new-form-radio-box input {
    display: none;
}

.new-form-radio-box input:checked+.radio-round:before {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 100%;
    background: #AA0061;
}


/* 24-5-2022   AP*/

.tab-section .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #AA0061 !important;
    border: none;
    border-bottom: 3px solid #AA0061 !important;
    font-weight: 700 !important;
}

.tab-section .nav-tabs .nav-link {
    color: #333333;
    font-size: 18px !important;
    font-weight: 500 !important;
    border: 2px transparent;
}

.tab-section .nav-tabs {
    border: 2px transparent;
}

/* ADD-Formfield */
.mynewForm {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    padding: 0 12px;
    margin-bottom: 0;
}

.mynewForm-heading {
    display: flex;
    align-items: center;
    margin-top: 39px;
    margin-bottom: 20px;
}

.mynewForm-heading button {
    background-color: transparent;
    border: none;
    padding: 0;
    min-width: 4px !important;
}

.mynewForm-heading button:hover,
.mynewForm-heading button:focus,
.mynewForm-heading button:active {
    background-color: transparent !important;
    border: none;
}

.myform-details {
    margin: 0;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 29px;
    opacity: 0.5;
}


.toogle-swich .switch {
    --inactive-bg: #cfd8dc;
    --active-bg: #00e676;
    --size: 1.5rem;
    appearance: none;
    width: calc(var(--size) * 2.1);
    height: var(--size);
    display: inline-block;
    border-radius: calc(var(--size) / 2);
    cursor: pointer;
    background-color: var(--inactive-bg);
    background-image: radial-gradient(circle calc(var(--size) / 2.0),
            #fff 100%,
            #0000 0),
        radial-gradient(circle calc(var(--size) / 1.5), #0003 0%, #0000 100%);
    background-repeat: no-repeat;
    background-position: calc(var(--size) / -1.75) 0;
    transition: background 0.2s ease-out;
    background-color: #C4C4C4;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);

}

.toogle-swich .switch:checked {
    background-position: calc(var(--size) / 1.75) 0;
    background-color: #9EB356;
    box-shadow: inset 0px 0px 4px rgb(0 0 0 / 25%);
}

.toogle-swich {
    line-height: 0;
}


.add-g button {
    background: transparent;
    padding: 0;
    border: none;
    color: #151F6D;
    font-size: 14px;
    font-weight: 400;
    min-width: 0;
}

.add-g button svg {
    margin-right: 5px;
}

.add-g button:hover,
.add-g button:focus,
.add-g button:active {
    background-color: transparent !important;
    border: none;
    color: #151F6D;
}

.required p {
    margin: 0;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px 0 20px;
    opacity: 0.5;
}

.add-group-t-button {
    display: flex;
    align-items: center;
    justify-content: end;
}

.apply-condition button {
    background: transparent;
    padding: 0;
    border: none;
    color: #151F6D;
    font-size: 14px;
    font-weight: 400;
    min-width: 0;
}

.apply-condition button:hover,
.apply-condition button:focus,
.apply-condition button:active {
    background-color: transparent !important;
    border: none;
    color: #151F6D;
}

.apply-section {
    padding-top: 20px;
}

.formlabel {
    color: #455D58 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    margin-bottom: 5px !important;
    line-height: 0 !important;
}

.my-new-formsection {
    background-color: #F7F7F7;
    border-radius: 16px;
    padding: 20px;
    margin: 20px 0;
}

.my-new-formsection label,
.my-new-formsection input[type=text],
.my-new-formsection select {
    background-color: #fff !important;
    border: 1px solid #4242421A !important;
    border-radius: 5px !important;

}

.my-form-input input {
    padding: 11px 45px 11px 20px;
}

.my-form-input input::placeholder {
    color: #333333;
    font-size: 16px;
}

.my-form-input {
    position: relative;
}

.input-img {
    position: absolute;
    top: 6.5px;
    right: 5px;
}

.text-answer-div {
    position: relative;
}

.input-text-img {
    position: absolute;
    top: 10.5px;
    left: 14px;
}

.text-answer-div select {
    padding-left: 35px;
}

.multiselect-box .optionListContainer {
    z-index: 10;
}



/* .input-select-arrow{
    position: absolute;
    top: 9px;
    right: 14px;
}
.input-select-arrow img{
    width: 14px;
} */
.remove-button {
    text-align: right;
}

.remove-button button {
    background-color: transparent;
    color: red;
    border: none;
    min-width: 0;
    padding: 0;
    line-height: 0;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.remove-button button:hover,
.remove-button button:focus,
.remove-button button:active {
    color: red !important;
}

.remove-button button img {
    margin-right: 5px;
}

.delete-icon {
    position: absolute;
    top: 10px;
    right: 13px;
}

.my-form-input input {
    margin-bottom: 20px;
}

.apply-condition button {
    margin-right: 20px;
}

.button {
    text-align: center;
}

.add-q button {
    background-color: transparent;
    border: 1px solid #3E5D58;
    padding: 4px;
    color: #455C58;
    font-size: 14px;
    font-weight: 400;
}

.add-q button:hover {
    color: #455C58;
}


.add-q {
    text-align: right;
}

.add-q {

    margin-bottom: 36px;
}

.preview {
    background-color: transparent !important;
    border: 1px solid #3E5D58 !important;
    color: #3E5D58 !important;
    font-size: 16px !important;
    margin-right: 20px !important;
}

.applyCondition-modal .modal-lg,
.modal-xl {
    max-width: 641px;
}

.modal-heading {
    font-size: 20px;
    font-weight: 800 !important;
    color: #333;
    margin: 0 !important;
}

.modal-header {
    padding: 24px 30px;
}

.back {
    border: none !important;
    background-color: transparent !important;
    color: #333 !important;
    min-width: 100px !important;
}

.modal-footer {
    padding: 15px 30px;
}

.applyCondition-modal .modal-lable {
    font-size: 16px;
    font-weight: 700;
}

.modal-m-lable {
    padding-bottom: 15px;
}

.text-answer-div select {
    margin-bottom: 20px;
}

.modal-remove-icon {
    position: inherit;
    top: -11px;
    right: 0;
    margin-left: 14px;
}

.my-form-input-modal {
    display: flex;
    align-items: center;
}

.modal-body {
    padding: 24px 30px;
}



.select-section-modal .modal-lg,
.modal-xlg {
    max-width: 373px !important;
}



/* CHECK BOX */


.modal-two-check .container {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    text-transform: capitalize;
}

/* Hide the browser's default checkbox */
.modal-two-check .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.modal-two-check .container:hover {
    background-color: transparent;
}

/* Create a custom checkbox */
.modal-two-check .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    background-color: #F7F7F8;
    border: 1px solid #42424263;
    text-transform: capitalize;
    font-size: 18px;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.modal-two-check .container:hover input~.checkmark {
    background-color: #F7F7F8;
}

/* When the checkbox is checked, add a blue background */
.modal-two-check .container input:checked~.checkmark {
    background-color: #F7F7F8;
}

/* Create the checkmark/indicator (hidden when not checked) */
.modal-two-check .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.modal-two-check .container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.modal-two-check .container .checkmark:after {
    left: 8px;
    top: 3.5px;
    width: 8px;
    height: 12px;
    border: solid #AA0061;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-two-footer {
    margin-right: auto;
}

.done {
    min-width: 100px !important;
    border-radius: 5px !important;
}

.right-button {
    min-width: 42px !important;
    padding: 1px 12px !important;
    margin-left: 10px;
    border-radius: 5px !important;
}

.three-modal-footer {
    width: 100%;
}



/* 25-05-22 */
.form-settings-modal .modal-title {
    display: flex;
    align-items: center;
}

.form-settings-modal .modal-title img {
    margin-right: 10px;
}

.default-arrow-select select {
    appearance: none;
    background-image: none;
}

.default-arrow-select:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-image: url(../../../public/img/down-arrow.svg);
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    pointer-events: none;
    z-index: 9;
}

.form-settings-modal>div {
    min-width: 1147px !important;
}

.default-arrow-select {
    position: relative;
}

/*************************************/



.multiselect-box .searchWrapper {
    background: #f7f7f7;
    border-color: #e5e5e5;
    padding: 4px 4px !important;
}

.multiselect-box .searchWrapper input::placeholder {
    color: #333333 !important;
}

.multiselect-box .searchWrapper input {
    border: none !important;
    padding: 6px 8px !important;
    background: transparent !important;
    margin: 0 !important;
    box-shadow: none !important;
}

.multiselect-box .searchWrapper input::placeholder {
    color: #333333 !important;
}

.multiselect-box .chip {
    border: 1px solid #AA0061;
    border-radius: 100px;
    background: rgb(170 0 97 / 20%);
    color: #AA0061;
    position: relative;
    padding: 8px 40px 8px 20px;
}

.multiselect-box .chip:before {
    content: "";
    position: absolute;
    background-image: url(../../../public/img/x-icon.svg);
    width: 7px;
    height: 7px;
    top: 50%;
    transform: translateY(-50%);
    right: 11px;
    pointer-events: none;
}

.multiselect-box .chip .closeIcon {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    right: 11px;
}

.multiselect-box .highlightOption {
    background: transparent;
    color: #000;
}


.multiselect-box .optionContainer li:hover {
    background: #AA0061;
}

/* 26 - 05 - 22 */






.responses-collapse .accordion-item {
    border: none;
    background: #F7F7F7 !important;
    border-radius: 16px !important;
    overflow: hidden;
}

.responses-collapse .accordion-item .accordion-button {
    background-color: rgb(158 179 86 / 20%) !important;
    margin: 0;
    box-shadow: none !important;
    padding: 15px;
}

.responses-collapse .accordion-item .accordion-button.collapsed {
    background-color: #F7F7F7 !important;
}

.responses-collapse .accordion-body {
    border: 1px solid rgb(51 51 51 / 10%);
    border-top: none;
    border-radius: 0 0 16px 16px;
    padding: 30px;
}

.responses-collapse .accordion-item+.accordion-item {
    margin-top: 15px;
}

.responses-header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.responses-header-left {
    display: flex;
    align-items: center;
}

.responses-header-image {
    width: 61px;
    border-radius: 10px;
    height: 61px;
    overflow: hidden;
    box-shadow: 0px 0px 10.6667px rgba(0, 0, 0, 0.11);
    border: 3px solid #fff;
}

.responses-header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.responses-header-detail {
    padding-left: 20px;
}

.responses-header-detail h5 {
    margin: 0;
    color: #333333;
    font-weight: 800;
    font-size: 18px;
}

.responses-header-detail h6 {
    margin: 3px 0 0 0;
    color: #151F6D;
    font-weight: 500;
}

.responses-header-detail h6 span {
    color: rgba(51, 51, 51, 0.5);
}

.responses-header-right p {
    margin: 0;
    color: rgba(51, 51, 51, 0.7);
    opacity: 0.6;
    text-align: right;
}

.responses-header-right {
    padding-right: 35px;
}

.responses-collapse .accordion-item .accordion-button:after {
    filter: brightness(100) invert(1) !important;
    transition: none !important;
}

.forms-managment-left p {
    margin: 0;
    color: #333333;
    font-weight: 500;
}

.responses-forms-header-section .forms-filter {
    margin-right: 15px;
}

.responses-content-question {
    display: flex;
    align-items: center;
}

.responses-content-question h6 {
    margin: 0;
}

.responses-content-question span {
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
    background: #AA0061;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
}

.responses-content-question {
    margin-bottom: 15px;
}

.responses-content-answer {
    display: flex;
    align-items: flex-start;
}

.responses-content-answer img {
    margin: 0 13px 0 3px;
}

.responses-content-answer p {
    color: #333333;
    margin: 0;
}

.responses-content-box+.responses-content-box {
    margin-top: 25px;
}

.content-wrap-title {
    margin-bottom: 20px;
    color: #AA0061;
    font-size: 18px;
    border-bottom: 1px solid rgb(51 51 51 / 10%);
    padding-bottom: 15px;
}

.answer-files img {
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 14px;
}

.answer-files {
    display: flex;
    align-items: center;
}

.answer-files h4 {
    font-size: 14px;
    margin: 0 0 0 15px;
}

.responses-collapse {
    padding-bottom: 60px;
}

.my-new-formsection .invalid-feedback {
    margin-top: -17px;
    margin-bottom: 9px;
}

.my-new-formsection input.form-control.is-invalid {
    background-image: none;
}

.my-new-formsection button.right-button.btn.btn-primary {
    background-color: #455c58;
}
